* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/free-vector/realistic-glassmorphism-background_23-2149443262.jpg?w=1380&t=st=1709467302~exp=1709467902~hmac=d71e1108ed1c7e0c030873858bb7528ac583bb59dbcfa58dadee01432eeea494);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container {
    width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: .3s;
}

.container h1 {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.results p {
    margin: 1rem 0;
    font-size: larger;
}

@media (max-width:600px) {
    .container {
        margin: 0 2rem;
    }
}